.dash-col {
  margin-top: 20px;
}

.dash-label {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 20px;
  font-size: 100%;
}

.dash-button {
  margin-top: 50px;
}

.dash-section {
  margin-bottom: 0;
  font-size: 125%;
}

.page-separator {
  height: 50px;
}

.footer-div {
  padding-left: 40px;
  background-color: lightgray;
}

#plot-div {
  background-color: none;
  border-style: dotted;
  border-width: 1px;
  border-color: lightslategray;
}
